body {
    background-color: bisque;
}
h2 {
    color: rebeccapurple;
}
hr {
    border-style: none; 
    border-top-style: dotted; 
    border-color: darkred;
    border-width: 6px;
    width: 5%;
}